.theme-button{
    position: relative;
    padding: 8px 20px;
    background: var(--primary-theme-color);
    font-weight: 500;
    font-size: 16px;
    border-radius: 40px;
    color: var(--theme-white-color);
    border: 0;
    cursor: pointer;
    overflow: hidden;
    transition: all 1s;
    width: fit-content;
    font-family: var(--primary-font-family);
}
.theme-button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    background: var(--primary-theme-hover);
    transition: height 0.45s ease-in-out;
    z-index: 0;
}
.theme-button span {
    position: relative;
    z-index: 1;
}
.theme-button:hover::before {
     height: 100%;
}

/* specific banner button */
.theme-button.dark-green{
     background-color: var(--primary-theme-hover);
}

.theme-button.outline-button{
    background-color: transparent;
    border: 1px solid var(--theme-white-color);
}
.theme-button.outline-button::before{
    background-color: #ffffff50;
}

