.footer-section {
    background: linear-gradient(to right, rgba(9, 83, 9, 0.9) 0%, rgba(9, 83, 9, 0.4) 50%, rgba(9, 83, 9, 0) 100%);
    background-color: var(--primary-theme-color);
    color: var(--secondary-theme-color);
}
.footer-section .footer-grid {
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}
.footer-section .footer-brand .logo {
    display: flex;
    align-items: center;
    gap: 8px;
    background: linear-gradient(180deg, rgb(253 253 253 / 79%) 0%, rgb(255 255 241) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 30px;
    text-decoration: none;
    margin-bottom: 16px;
}
.footer-section .footer-brand .brand-text {
    max-width: 360px;
    color: var(--secondary-theme-color);
    opacity: 0.8;
    line-height: 1.6;
    margin-bottom: 20px;
}
.footer-section .footer-brand  .social-icons {
    display: flex;
    gap: 12px;
}
.footer-section .footer-brand  .social-icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F5F5DC1A;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 13px;
    transition: background 0.3s ease;
}
.footer-section .footer-brand  .social-icons a:hover {
    background: #ACCFB866;
}
.footer-section .footer-link-part h4 {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    color: var(--theme-white-color);
}
.footer-section .footer-link-part ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-section .footer-link-part ul li {
    margin-bottom: 12px;
}
.footer-section .footer-link-part ul a {
    color: var(--secondary-theme-color);
    opacity: 0.8;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-section .footer-link-part ul a:hover {
    text-decoration: underline;
}
.footer-section .footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(245, 245, 220, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}
.footer-section .footer-bottom p {
    font-size: 14px;
    color: var(--secondary-theme-color);
    opacity: 0.8;
}
.footer-section .footer-bottom  .footer-links {
    display: flex;
    gap: 20px;
}
.footer-section .footer-bottom  .footer-links a {
    font-size: 14px;
   color: var(--secondary-theme-color);
    opacity: 0.8;
    text-decoration: none;
}
.footer-section .footer-bottom  .footer-links a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 640px) {
    .footer-section .footer-grid{
       grid-template-columns: 1fr;
        gap: 20px;
    }
    .footer-section .footer-bottom {
        flex-direction: column;
    }
    .footer-section .footer-link-part h4 {
        margin-bottom: 6px;
    }
    .footer-section .footer-link-part ul li {
        margin-bottom: 6px;
    }
}