
.collection-section .products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.collection-section .product-card {
  background: var(--theme-white-color);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.collection-section .product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}
.collection-section .product-card .product-image {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.collection-section .product-card .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.collection-section .product-card .product-card:hover img {
  transform: scale(1.05);
}
.collection-section .product-card .tag {
  position: absolute;
  top: 12px;
  left: 12px;
  background: var(--secondary-theme-color);
  color: var(--primary-black-color);
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
}
.collection-section .product-card .product-info {
  padding: 20px;
}
.collection-section .product-card  .product-info  .category {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--theme-gray-color);
}
.collection-section .product-card .product-info h3 {
  font-size: 18px;
  margin-bottom: 12px;
}
.collection-section .product-card .product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collection-section .product-card .price {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-theme-color);
}

/* VIEW ALL */
.view-all {
  text-align: center;
  margin-top: 50px;
}

.view-btn {
  border: 2px solid #14532d;
  background: transparent;
  color: #14532d;
  padding: 10px 28px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-btn:hover {
  background: #14532d;
  color: white;
}


@media screen and (max-width: 820px){
 .collection-section .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media screen and (max-width: 640px) {
 .collection-section .products-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .collection-section .product-card .product-info{
    padding: 10px;
  }
  .collection-section .product-card .product-info h3{
    font-size: 14px;
    margin-bottom: 8px;
  }
  .collection-section .product-card .price{
    font-size: 18px;
  }
  .collection-section .product-card .theme-button{
    padding: 6px 16px;
  }
}