@import url('../css/color.css');
@import url('../css/fonts.css');
@import url('../css/header.css');

/* section-wise css */
@import url('../css/banner.css');
@import url('../css/our-collections.css');
@import url('../css/features.css');
@import url('../css/testimonials.css');
@import url('../css/footer.css');
@import url('../css/newsletter.css');

@import url('../css/button.css');
@import url('../css/theme.css');





* {
    margin: 0;
}

body {
    font-family: var(--primary-font-family);
}

