@import url('../css/color.css');
@import url('../css/header.css');
@import url('../css/theme.css');
@import url('../css/fonts.css');
@import url('../css/button.css');



*{
    margin: 0;
}

body{
    font-family: var(--primary-font-family);
}



